<a href="https://colab.research.google.com/github/GopikaDA/Excel_coding_challange/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variable

## Student profile creator

In [6]:
name='gopika A'
age=32
subject= "Data analyst"
name1='rithu'
Age=24
subject1= "science"

print(name,age,subject)
print(name1,Age,subject1)

gopika A 32 Data analyst
rithu 24 science

In [8]:
name,name1,name3= "toni","rithu","boomi"
Age,age,AGE=29,24,25
subject,subject1,subject2="science","maths","science"

print(name,Age,subject)
print(name1,age,subject1)
print(name3,AGE,subject2)

toni 29 science
rithu 24 maths
boomi 25 science